*{margin:0px;
padding:0px;
box-sizing:border-box;
cursor:url(../../imgs/Monkey.cur),auto;}

#desc{position:absolute;
		width:400px;
		height:80px;
		bottom:250px;
		left:100px;
		border:1px solid black;
		background-color:#C0C0C0}

#frame{position:absolute;
		width:400px;
		height:200px;
		bottom:50px;
		left:100px;
		border:1px solid black}