*{margin:0px;
padding:0px;
box-sizing:border-box;
cursor:url(../../imgs/Monkey.cur),auto;}

#cajita{background-color:#B29149;
		width:100%;
		height:448px;}
#monos{background-color:#B29149;
		width:100%;
		height:150px;}
		
	#monos h1{padding:10px;
				text-decoration:underline}
	
	#monos .esp{display:none}
	
	#monos:hover .esp {display:inline;
						margin-left:10px;
						border:1px solid black;	
						background-color:#D6AD54}
					
	#monos li:hover:{background-color:#FFB000}
	
	.esp ul{display:none}
	
	.esp:hover ul {display:block;
					margin-left:10px;
					width:350px;
					position:absolute;
					top:80px;
					left:10px;
					padding:10px;
					list-style:none;
					}
					
	.esp:hover ul li{border:1px solid black;
					background-color:#FFDA88;
					top:0px;
					left:100px;
					padding-left:100px}
	
	.esp:hover ul li:hover{background-color:#FFB000}
	
	.selec p{display:none}
	
	.selec:hover p{display:block;
					z-index:6;
					background-color:#7B6639;
					position:absolute;
					top:268px;
					left:-15px;
					width:390px;
					height:100px;
					padding-top:5px;}
	
#oFrame{background-color:#DBBB76;
		width:100%;
		height:198px;
		z-index:6}
		
a{text-decoration:none;
	color:black}
	

footer{background-color:#7B6639;
		width:100%;
		height:100px;
		padding:5px;
		font-size:17px}